@charset "UTF-8";
html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: 0;
  position: relative;
}

.body {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  right: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.move-left {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  background-color: rgba(0, 0, 0, 0.3);
}

.move-right {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.3);
}

.copy_right {
  position: absolute;
  bottom: 3px;
  right: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.font-sm, .member_list_btn, .chat_message_date, .basic_menu_container .menu_item_tab_open_data .memos_date {
  font-size: 16px;
}

.font-md, .emr, .imp, .chat_message_name, .chat_message_mes, .chat_input_message {
  font-size: 19px;
}

.font-lr, .task_title, .task_container table th p, .folder_container.create label, .create.task_container label, .folder_container.delete .folder_item, .delete.task_container .folder_item, .complete_task_list_item .item_main_title {
  font-size: 23px;
}

.font-lg, .header .navbar .my-navbar-brand {
  font-size: 36px;
}

.header {
  background-color: #fcf6f6;
  width: 100%;
  height: 100px;
  z-index: 100;
  -webkit-box-shadow: 2px 2px 8px 0 #0e0d0d;
          box-shadow: 2px 2px 8px 0 #0e0d0d;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.header .navbar .my-navbar-brand {
  color: #3b3a3a;
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
}

.header .navbar .nav-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .nav-btn-group .nav-btn {
  margin-right: 50px;
}

.header .app_icon img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrow-h {
  display: block;
  width: 98%;
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 150px;
}

.arrow-v {
  display: block;
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: 80%;
}

.emr {
  position: absolute;
  top: 105px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.imp {
  position: absolute;
  right: 20px;
  top: 53%;
}

.btn {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), color-stop(37%, #131414), to(#96a1a5));
  background: linear-gradient(to bottom, #f2f5f6 0%, #131414 37%, #96a1a5 100%);
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  max-width: 150px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 1px 3px 3px 1px #726f6f;
          box-shadow: 1px 3px 3px 1px #726f6f;
}

.btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.btn.task-add {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.btn.search {
  margin-top: 30px;
}

.btn.group_create {
  display: inline-block;
}

.btn-member, .btn-complete-task, .btn-complete-group-task {
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  /* after:の部分ボタン内におさまる */
  top: 120px;
  right: 20px;
}

.btn-member:after, .btn-complete-task:after, .btn-complete-group-task:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-member:hover, .btn-complete-task:hover, .btn-complete-group-task:hover {
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
          box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}

.btn-member:hover:after, .btn-complete-task:hover:after, .btn-complete-group-task:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  background: #000;
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
          box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.btn-complete-task {
  top: 120;
  left: 20px;
}

.btn-complete-group-task {
  top: 120;
  left: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  line-height: 20px;
  padding: 10px 25px;
  border: 3px solid #000;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  display: inline-block;
}

/* タスク付箋 */
.task {
  padding: 10px 20px;
  background: #c1e6fc;
  color: #000;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.03);
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  position: absolute;
  cursor: -webkit-grab;
  cursor: grab;
}

.task:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.task_tape {
  width: 50%;
  height: 35px;
  margin: -25px auto 0;
  background: rgba(251, 234, 144, 0.5);
  /* テープの色 */
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  opacity: 0.9;
}

.task_title {
  text-align: center;
  margin-top: 10px !important;
}

.task_table {
  font-size: 12px;
  border-collapse: separate;
  border-spacing: 5px;
}

.task_label {
  display: inline-block;
  padding: 3px;
  background-color: gray;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.task_container table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 20px;
}

.task_container table th p {
  display: inline-block;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #f5ff99));
  background: linear-gradient(transparent 70%, #f5ff99 70%);
  margin-right: 20px;
}

.task_container table .textbox {
  margin-top: 0;
  font-family: cursive;
  border: 1px solid #acacac;
  color: #fff;
  opacity: .7;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 400px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  font-size: 16px;
  outline: none;
  background-color: #acacac;
}

.task_container table .textbox .textbox:focus {
  width: 500px;
  outline: none;
}

.task_container .btn {
  margin: 0 auto;
  width: 80px;
  display: inline-block;
}

.folder_container, .task_container {
  text-align: center;
}

.folder_container h2, .task_container h2 {
  color: #55acee;
  font-family: cursive;
  font-weight: bold;
  font-size: 72px;
  margin-top: 50px;
}

.folder_container .textbox, .task_container .textbox {
  margin-top: 0;
  font-family: cursive;
  border: 1px solid #acacac;
  color: #fff;
  opacity: .7;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 400px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  font-size: 16px;
  outline: none;
  background-color: #acacac;
}

.folder_container .textbox .textbox:focus, .task_container .textbox .textbox:focus {
  width: 500px;
  outline: none;
}

.folder_container.create label, .create.task_container label {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #f5ff99));
  background: linear-gradient(transparent 70%, #f5ff99 70%);
  margin-right: 20px;
}

.folder_container.delete .delete_alert, .delete.task_container .delete_alert {
  font-weight: bold;
}

.folder_container.delete .folder_item, .delete.task_container .folder_item {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #f5ff99));
  background: linear-gradient(transparent 70%, #f5ff99 70%);
  margin-right: 20px;
  display: inline-block;
}

.member_list {
  position: absolute;
  top: 100px;
  right: 50px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  display: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 100%;
  display: none;
  overflow: scroll;
  -ms-overflow-style: none;
}

.member_list::-webkit-scrollbar {
  display: none;
}

.member_list_btn {
  display: inline-block;
  padding: 1px 5px;
  margin-left: 10px;
  background-color: #55acee;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.member_list_title {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #99c5ff));
  background: linear-gradient(transparent 70%, #99c5ff 70%);
}

.member_list p {
  font-weight: bold;
}

.member_list h3 {
  display: inline-block;
}

.member_admin {
  margin-bottom: 20px;
}

.member_admin_title {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #99c5ff));
  background: linear-gradient(transparent 70%, #99c5ff 70%);
}

.member_admin li {
  list-style: none;
  margin-bottom: 15px;
}

.member_admin .group_delete {
  display: inline-block;
  margin-top: 10px;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.member_table {
  display: none;
}

.member_table tr {
  display: block;
  margin-bottom: 15px;
}

.member_task_count {
  padding-left: 10px;
}

.member_task_count span {
  text-align: center;
  display: block;
  padding: 1px 10px;
  color: white;
  font-weight: bold;
  background-color: #e7b7e9;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.member_right {
  display: inline-block;
  color: white;
  padding: 3px 5px;
  margin-left: 10px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #55acee;
}

.complete_task_list {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 100%;
  display: none;
  overflow: scroll;
  -ms-overflow-style: none;
}

.complete_task_list::-webkit-scrollbar {
  display: none;
}

.complete_task_list_item {
  text-align: left;
  border-bottom: 1px solid black;
  padding: 20px 0 0 20px;
}

.complete_task_list_item .item_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.complete_task_list_item .item_main_title {
  font-weight: bold;
}

.complete_task_list_item .item_main .chat-btn {
  display: inline-block;
  color: white;
  padding: 3px 5px;
  margin-left: 10px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #55acee;
}

.complete_task_list_item p {
  margin: 0 0 1em 0;
}

.display_block {
  display: block !important;
}

.display_none {
  display: none !important;
}

.to_chat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.to_chat .chat-btn {
  display: block;
  background-color: white;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  max-width: 100px;
  margin-top: 10px;
  text-align: center;
}

.to_chat .option a {
  text-decoration: none;
}

.chat {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chat_wrap {
  width: 65%;
  height: 600px;
  margin-top: 30px;
  position: absolute;
  left: 30%;
}

.chat_container {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafefe;
}

.chat_view {
  width: 100%;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
}

.chat_view::-webkit-scrollbar {
  display: none;
}

.chat_message {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 30px 0;
}

.chat_message_user {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat_message_name {
  display: inline-block;
}

.chat_message_date {
  display: inline-block;
  margin: 5px 0;
  color: gray;
}

.chat_message_mes {
  margin-top: 10px;
  display: inline-block;
  padding: 10px;
  background-color: #c4e6f8;
  border-radius: 20px;
  max-width: 80%;
}

.chat_input {
  width: 90%;
  margin: 0 auto;
  height: 20%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat_input_message {
  width: 100%;
  display: block;
  float: left;
  border-radius: 5px;
  margin-right: 20px;
}

.chat_input_btn {
  display: block;
  float: right;
}

.basic_menu {
  width: 25%;
  max-height: 650px;
  background-color: #fcfaf7;
  text-align: left;
  overflow: auto;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 6px 2px #00000047;
          box-shadow: 2px 2px 6px 2px #00000047;
}

.basic_menu_container {
  width: 100%;
}

.basic_menu_container .menu_title {
  padding: 15px 5px;
  color: white;
  background-color: #484646;
  font-weight: bold;
  margin: 0;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.7);
}

.basic_menu_container .menu_item {
  width: 100%;
}

.basic_menu_container .menu_item_top {
  width: 100%;
}

.basic_menu_container .menu_item_title {
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 12px 5px;
  background-color: #b4b3b3;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.7);
}

.basic_menu_container .menu_item_title_btn {
  display: block;
  font-weight: bold;
  padding: 1px 8px;
  background-color: #84d1fa;
  border-radius: 10px;
  color: white;
  float: right;
  cursor: pointer;
}

.basic_menu_container .menu_item_tab_title {
  border-bottom: 1px solid gray;
  width: 100%;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 8px 5px;
}

.basic_menu_container .menu_item_tab_open_btn {
  display: block;
  font-weight: 900;
  color: #84d1fa;
  float: right;
  cursor: pointer;
}

.basic_menu_container .menu_item_tab_open {
  display: none;
  padding: 10px;
  border-bottom: 2px solid gray;
}

.basic_menu_container .menu_item_tab_open_data {
  margin-bottom: 20px;
}

.basic_menu_container .menu_item_tab_open_data .memos_date {
  color: gray;
}

.basic_menu_container .menu_item_tab_open_content {
  width: 100%;
}

.basic_menu.task_memos {
  position: absolute;
  top: 100px;
  left: 3px;
}

.basic_menu.task_memos .menu_item_tab.memo_input {
  display: none;
  padding: 20px;
}

.basic_menu.task_memos .menu_item_tab_input {
  width: 60%;
  height: 20px;
  margin-bottom: 10px;
}

.basic_menu.task_memos .menu_item_tab_memo {
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
}

.basic_menu.task_memos .menu_item_tab_open {
  display: none;
}

.basic_menu.task_memos .memo_add {
  margin-bottom: 10px;
}

.basic_menu.group_menu {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 270px;
}

.basic_menu.group_menu .wait_user_count {
  text-align: center;
  display: inline-block;
  padding: 1px 5px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  background-color: #e7b7e9;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.group_create_input {
  margin-top: 30px;
}
/*# sourceMappingURL=base.css.map */