// taks-top
html{
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0;
    position: relative;
}

.body{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    right: 0;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    transform: translateX(0);
    transition:all 1s;
}

// containerを左に移動
.move-left{
    transform: translateX(-300px);
    background-color: rgba(0, 0, 0, 0.3);
}
// containerを右に移動
.move-right{
    transform: translateX(300px);
    background-color: rgba(0, 0, 0, 0.3);
}
// containerを黒に
.bg-black{
    background-color: rgba(0, 0, 0, 0.3);
}

.copy_right{
    position: absolute;
    bottom: 3px;
    right: 10px;
    transform:translateX(-50%);
}

// font-size
.font-sm{
    font-size: 16px;
}
.font-md{
    font-size: 19px;
}
.font-lr{
    font-size: 23px;
}
.font-lg{
    font-size: 36px;
}

// header
.header {
    background-color: rgb(252, 246, 246);
    width: 100%;
    height: 100px;
    z-index: 100;
    box-shadow: 2px 2px 8px 0 rgb(14, 13, 13);
    
    & .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    
    & .my-navbar-brand {
        color: rgb(59, 58, 58);
        font-weight: bold;
        text-decoration: none;
        margin-left: 20px;
        @extend .font-lg;
    }
    
    & .nav-btn-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
        & .nav-btn {
            margin-right: 50px;
        }
    }
}
    & .app_icon{

        & img{
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    }
}

// bg
.arrow{
    &-h{
        display: block;
        width:98%;
        position: absolute;
        top: 55%;
        left: 0;
        transform: translateY(-50%);
        height: 150px;
    }
    
    &-v{
        display: block;
        position:absolute;
        top:150px;
        left: 50%;
        transform: translateX(-50%);
        width:150px;
        height:80%;
    }
}

.emr{
    position: absolute;
    top: 105px;
    left: 50%;
    transform:translateX(-50%);
    @extend .font-md;
}

.imp{
    position: absolute;
    right: 20px;
    top: 53%;
    @extend .font-md;
}

// ボタン
    .btn {
    display: block;
    background: linear-gradient(to bottom, #f2f5f6 0%, #131414 37%, #96a1a5 100%);  
    padding:12px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    max-width: 150px;
    text-align: center;
    transition:all 0.5s ease;
    transform: translateY(0);
    box-shadow: 1px 3px 3px 1px #726f6f;
    
    &:active{
        box-shadow: none;
        transform: translateY(10px);
    }
    // タスク追加ボタン
    &.task-add{
        position:absolute;
        bottom: 30px;
        left: 30px;
    }

    &.search{
        margin-top: 30px;
    }

    &.group_create{
        display: inline-block;
    }
}
// グループ詳細ボタン
.btn-member {
        z-index: 2;
        transition: all 0.5s ease;
        overflow: hidden; /* after:の部分ボタン内におさまる */
        // 位置
        top:120px;
        right: 20px;

        &:after {
        position: absolute;
        content: " ";
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        }
        &:hover {
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
            inset -4px -4px 6px 0 rgba(255,255,255,.5),
            inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
        color: #fff;

        &:after {
            -webkit-transform: scale(2) rotate(180deg);
            transform: scale(2) rotate(180deg);
            background: #000;
            box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
            -4px -4px 6px 0 rgba(116, 125, 136, .2), 
            inset -4px -4px 6px 0 rgba(255,255,255,.5),
            inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
        }
    }
}
.btn-complete-task{
    @extend .btn-member;

    top:120;
    left: 20px;
}
.btn-complete-group-task{
    @extend .btn-member;

    top:120;
    left: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    line-height:20px;
    padding: 10px 25px;
    border: 3px solid #000;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    display: inline-block;
}


/* タスク付箋 */
.task {
    padding: 10px 20px;
    background: #c1e6fc;
    color: #000;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
    position: absolute;
    cursor:grab;

    &:active{
        cursor:grabbing;
    }
    &_tape {
        width: 50%;
        height: 35px;
        margin: -25px auto 0;
        background: rgba(251, 234, 144, 0.5);/* テープの色 */
        transform: rotate(-3deg);
        opacity: 0.9;
    }
    &_title {
        text-align: center;
        @extend .font-lr;
        margin-top: 10px!important;
    }
    &_table {
        font-size: 12px;
        border-collapse:separate;
        border-spacing:5px; 
        
    }
    &_label{
        display: inline-block;
        padding:3px;
        background-color: gray;
        color: white;
        border-radius: 5px;
        text-decoration: none;
    }
}

// task_container
.task_container{
    @extend .folder_container;

    & table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 20px;

        & th p{
            display: inline-block;
            font-weight: bold;
            @extend .font-lr;
            background: linear-gradient(transparent 70%, #f5ff99 70%);
            margin-right: 20px;
        }

        & .textbox {
            margin-top:0;
            font-family: cursive;
            border: 1px solid #acacac;
            color: #fff;
            opacity: .7;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            width: 400px;
            transition: all .3s;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            font-size: 16px;
            outline: none;
            background-color: #acacac;
            
            & .textbox:focus {
                width: 500px;
                outline: none;
            }
        }
    }

    & .btn{
        margin: 0 auto;
        width: 80px;
        display: inline-block;
    }

}
// folder
.folder_container{
    text-align: center;
    
    & h2 {
        color: #55acee;
        font-family: cursive;
        font-weight: bold;
        font-size: 72px;
        margin-top: 50px;
    }
    & .textbox {
        margin-top:0;
        font-family: cursive;
        border: 1px solid #acacac;
        color: #fff;
        opacity: .7;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        width: 400px;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        font-size: 16px;
        outline: none;
        background-color: #acacac;
        
        & .textbox:focus {
            width: 500px;
            outline: none;
        }
    }

    &.create{
        
        
        & label{
            font-weight: bold;
            @extend .font-lr;
            background: linear-gradient(transparent 70%, #f5ff99 70%);
            margin-right: 20px;
        }
    }
    
    // folder_delete
    &.delete{
        
        & .delete_alert{
            font-weight: bold;
        }
        & .folder_item{
            font-weight: bold;
            @extend .font-lr;
            background: linear-gradient(transparent 70%, #f5ff99 70%);
            margin-right: 20px;
            display: inline-block;
        }
    }
}

// group_index
.member{
    &_list{
        position: absolute;
        top: 100px;
        right: 50px;
        text-align: left;
        display: flex;
        flex-direction: column;
        list-style: none;
        display: none;
        transition:all 1s;
        height: 100%;
        display: none;
        overflow:scroll;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display:none;
        }    

        &_btn{
            @extend .font-sm;
            display: inline-block;
            padding: 1px 5px;
            margin-left: 10px;
            background-color: #55acee;
            border-radius: 5px;
            font-weight: bold;
            color: white;
            cursor:pointer;
        }

        &_title{
            background: linear-gradient(transparent 70%, #99c5ff 70%);
        }

        & p{
            font-weight: bold;
        }

        & h3{
            display: inline-block;
        }

        
        
    }
    &_admin{
        margin-bottom: 20px;
        
        &_title{
            background: linear-gradient(transparent 70%, #99c5ff 70%);
        }

        & li{
            list-style: none;
            margin-bottom: 15px;
        }

        & .group_delete{
            display: inline-block;
            margin-top: 10px;
            color: -webkit-link;
            cursor: pointer;
            text-decoration: underline;        }
    }
    
    &_table{
        display: none;
        & tr{
            display: block;
            margin-bottom:15px;
        }
        
    }
    &_task_count{
        padding-left:10px;
        & span{
            text-align: center;
            display: block;
            padding:1px 10px;
            color: white;
            font-weight: bold;
            background-color: rgb(231, 183, 233);
            border-radius: 5px;
            box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
        }
    }

    &_right{
        display: inline-block;
        color: white;
        padding:3px 5px;
        margin-left: 10px;
        border-radius:10px;
        text-decoration: none;
        background-color: #55acee;
} 
}

.complete_task_list{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    display: none;
    overflow:scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display:none;
    }

    &_item{
        text-align: left;
        border-bottom: 1px solid black;
        padding: 20px 0 0 20px;

        & .item_main{
            display: flex;
            justify-content:left;
            align-items: baseline;

            &_title{
                @extend .font-lr;
                font-weight: bold;
            }

            & .chat-btn{
                display: inline-block;
                color: white;
                padding:3px 5px;
                margin-left: 10px;
                border-radius:10px;
                text-decoration: none;
                background-color: #55acee;
            }
        }
    
        & p{
            margin:0 0 1em 0;
        }
    }
    

}

.display_block{
    display: block !important;
}
.display_none{
    display: none !important;
}

.to_chat{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    & .chat-btn{
    display: block;
    background-color: white;
    border:1px solid black;
    padding:5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: normal;
    max-width: 100px;
    margin-top: 10px;
    text-align: center;
}
    & .option a{
        text-decoration: none;
    }
}

// チャット画面
.chat{
    width: 100%;
    height:100%;
    margin: 0 auto;
    display: flex;
    box-sizing:border-box;

    &_wrap{
        width: 65%;
        height: 600px;
        margin-top: 30px;
        position: absolute;
        left: 30%;   
    }
    &_container{
        width: 90%;
        height: 80%;
        margin: 0 auto;
        border:1px solid black;
        border-radius: 20px;
        padding:0 10px;
        box-sizing: border-box;
        background-color: #fafefe;;
    }
    &_view{
        width: 100%;
        height: 100%;
        overflow:auto;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display:none;
    }
    }

    &_message{
        width: 100%;;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px 0;

        &_user{
            align-items: flex-end;
        }

        &_name{
            display: inline-block;
            @extend .font-md;
        }
        &_date{
            display: inline-block;
            @extend .font-sm;
            margin: 5px 0;
            color: gray;
        }
        &_mes{
            @extend .font-md;
            margin-top: 10px;
            display: inline-block;
            padding:10px;
            background-color: #c4e6f8;
            border-radius: 20px;
            max-width: 80%;
        }

    }

    &_input{
        width: 90%;
        margin: 0 auto;
        height:20%;
        margin-top:10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_message{
            width: 100%;
            display: block;
            float: left;
            border-radius: 5px;
            margin-right: 20px;
            @extend .font-md;
        }

        &_btn{
            display: block;
            float:right;
        }
    }
}

.basic_menu{
    width:25%;
    max-height:650px;
    background-color: rgb(252, 250, 247);
    text-align: left;
    overflow: auto;
    overflow-x: hidden;
    box-sizing:border-box;
    box-shadow: 2px 2px 6px 2px #00000047;

    &_container{
        width: 100%;

        & .menu_title{
                padding:15px 5px;
                color: white;
                background-color:#484646;
                font-weight: bold;
                margin: 0;
                box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.7);
            }
        
        & .menu_item{
            width: 100%;

            &_top{
                width: 100%;
            }

            &_title{
                color: white;
                font-weight: bold;
                margin: 0;
                padding:12px 5px;
                background-color: #b4b3b3;
                box-shadow: 1px 2px 3px 1px rgba(0, 0 , 0,0.7);
                
                &_btn{
                    display:block;
                    font-weight: bold;
                    padding:1px 8px;
                    background-color: #84d1fa;
                    border-radius: 10px;
                    color:white;
                    float:right;
                    cursor: pointer;
                }
            }
            &_tab{
                
                &_title{
                        border-bottom: 1px solid gray;
                        width: 100%;
                        background-color: white;
                        box-sizing: border-box;
                        margin: 0;
                        padding: 8px 5px;
                    }

                    &_open_btn{
                        display: block;
                        font-weight: 900;
                        color: #84d1fa;
                        float:right;
                        cursor:pointer;
                    }

                    &_open{
                    display: none;
                    padding:10px;
                    border-bottom: 2px solid gray;

                        &_data{
                        margin-bottom: 20px;
                    
                            & .memos_date{
                            @extend .font-sm;
                            color: gray;
                            }
                        }
                        &_content{
                            width: 100%;
                        }
                    }   
                }  
            }
        }
    }

// basic_menuのchat/grouo
.basic_menu{
    &.task_memos{
        position: absolute;
        top: 100px;
        left: 3px;

        .menu_item_tab{

            &.memo_input{
                display: none;
                padding:20px;
                
            }
            &_input{
                width: 60%;
                height:20px;
                margin-bottom: 10px;
            }
            &_memo{
                width: 90%;
                height:30px;
                margin-bottom: 10px;
            }
            &_open{
                display:none;
            }
        }

        & .memo_add{
            margin-bottom: 10px;
        }
    }

    &.group_menu{
        display:none;
        position: absolute;
        top: 100px;
        right: 20px;
        width: 270px;

        & .wait_user_count{
            text-align: center;
            display: inline-block;
            padding: 1px 5px;
            margin-left: 10px;
            color: white;
            font-weight: bold;
            background-color: #e7b7e9;
            border-radius: 5px;
            box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
        }
    }
}

.group_create_input{
    margin-top:30px;
}